In [1]:
import pandas as pd
df=pd.read_csv("spotify_millsongdata.csv")
df

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...
...,...,...,...,...
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [2]:
df.head(5) #Shows the first five rows

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [3]:
df.tail(5) #Shows last five rows

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [4]:
df.shape

(57650, 4)

In [5]:
df.isnull().sum()  #Shows null values

artist    0
song      0
link      0
text      0
dtype: int64

In [6]:
df=df.sample(5000).drop("link",axis=1).reset_index(drop=True) #Removes the column provided in the parameters

In [7]:
df=df.sample(5000)
df

,artist,song,text
2678,Whiskeytown,Don't Be Sad,Seen a lot of things we didn't want to see \r...
4316,Christy Moore,Joxer goes to Stuttgart,It was in the year of '88 in the lovely month ...
1328,Rolling Stones,I Love Rock N' Roll,"Hey, is this thing on? \r\n \r\nI saw him da..."
522,Janis Joplin,See See Rider,"And it's hey, hey hey, she was standin' in the..."
912,Michael Bolton,Lost In The City,Lost in the city \r\nI'm movin' around \r\nT...
...,...,...,...
168,Michael W. Smith,Love Crusade,"Brother, haven't you noticed \r\nThere's a wa..."
3080,Neil Young,Heart Of Gold,"I want to live, \r\nI want to give \r\nI've ..."
3465,You Am I,Soldiers,We're on the corner every morning just to see ...
3018,Wishbone Ash,Mountainside,"It was a night, yeah, the kind of night \r\nL..."
1434,Rolling Stones,Connection,"Connection, I just can't make no \r\nConnecti..."

# Text Cleaning

In [8]:
df["text"]=df["text"].str.lower().replace(r'\w\s'," ").replace(r'\n'," ",regex=True)

In [9]:
pip install nltk

Requirement already satisfied: nltk in c:\users\lenovo\anaconda3\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\lenovo\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in c:\users\lenovo\anaconda3\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\lenovo\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: tqdm in c:\users\lenovo\anaconda3\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\users\lenovo\anaconda3\lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [10]:
import nltk
from nltk.stem.porter import PorterStemmer

In [11]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [12]:
stemmer=PorterStemmer()

In [13]:
def token(txt):
    token=nltk.word_tokenize(txt)
    a=[stemmer.stem(w) for w in token]
    return " ".join(a)

In [14]:
token("you are beautiful,beauty")

'you are beauti , beauti'

In [15]:
df["text"].apply(lambda x:token(x))

2678    seen a lot of thing we did n't want to see but...
4316    it wa in the year of '88 in the love month of ...
1328    hey , is thi thing on ? i saw him danc there b...
522     and it 's hey , hey hey , she wa standin ' in ...
912     lost in the citi i 'm movin ' around to the so...
                              ...
168     brother , have n't you notic there 's a war on...
3080    i want to live , i want to give i 've been a m...
3465    we 're on the corner everi morn just to see yo...
3018    it wa a night , yeah , the kind of night left ...
1434    connect , i just ca n't make no connect , but ...
Name: text, Length: 5000, dtype: object

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [17]:
tfid=TfidfVectorizer(analyzer="word",stop_words="english")

In [18]:
matrix=tfid.fit_transform(df["text"])

In [19]:
similar=cosine_similarity(matrix)

In [20]:
similar[0]

array([1.        , 0.01331387, 0.01054192, ..., 0.01614213, 0.03217737,
       0.02731447])

In [21]:
df[df["song"]=="River"].index[0]

3193

In [22]:
def recommender(song_name):
    idx=df[df["song"]==song_name].index[0]
    distance=sorted(list(enumerate(similar[idx])),reverse=True,key=lambda x:x[1])
    song=[]
    for s_id in distance[1:21]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [23]:
recommender("River")

['Tomorrow',
 'Joanne',
 'Tomorrow',
 'Yours Until Tomorrow',
 'Tomorrow Is Today',
 "I Know I'll Have A Better Day Tomorrow",
 'Tomorrow',
 'Love In The Midnight',
 'Please Come Home',
 "Goin' Nowhere",
 "I'm Hiding",
 'To Be Forgiven',
 "Maybe It's Because",
 'Love Me Two Times',
 'Open Your Heart',
 'Let Go',
 'Up!',
 'Last Love Song',
 'I Feel Home',
 'Tell Me, Are You Tired']

In [24]:
import pickle

In [25]:
pickle.dump(similar,open("similarity","wb"))

In [26]:
pickle.dump(df,open("df","wb"))